.simple-keyboard {
  width: 100%;
  color: white;
  background-color: #272727;
}

.simple-keyboard.hg-layout-default .hg-button {
  border-radius: 4px;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: 600;
  width: 32px;
  height: 32px;
}

.simple-keyboard.hg-layout-default .hg-button.dedo-minimo {
  background: #8196DF;
}
.simple-keyboard.hg-layout-default .hg-button.anelar {
  background: #E0CC74;
}
.simple-keyboard.hg-layout-default .hg-button.dedo-medio {
  background: #98CC87;
}
.simple-keyboard.hg-layout-default .hg-button.indicador-esquerdo {
  background: #ACADDF;
}
.simple-keyboard.hg-layout-default .hg-button.indicador-direito {
  background: #E0A971;
}
.simple-keyboard.hg-layout-default .hg-button.polegar {
  background: #E17E6C;
}

.simple-keyboard.hg-layout-default .hg-button.wide-tab {
  width: 45px;
}

.simple-keyboard.hg-layout-default .hg-button.wide-lock {
  width: 60px;
}

.simple-keyboard.hg-layout-default .hg-button.wide-shift {
  width: 45px;
}

.simple-keyboard.hg-layout-default .hg-button.wide-space {
  width: 300px;
}

.simple-keyboard.hg-layout-default .hg-button.wide-bksp {
  width: 50px;
}
