<aside class="sidebar">
  <nav aria-label="Menu Principal">
    <ul class="menu-list">

      <li>
        <button type="button">
          <i class="pi pi-user" aria-hidden="true"></i>
          <span>Login</span>
        </button>
      </li>

      <li>
        <button type="button" (click)="showHelpModal()">
          <i class="pi pi-question-circle" aria-hidden="true"></i>
          <span>Como usar</span>
        </button>
      </li>

      @for (ex of exercises; track ex.id) {
      <li>
        <button type="button" (click)="onSelectExercise(ex)">
          <i class="pi pi-play" aria-hidden="true"></i>
          <span>{{ ex.title }}</span>
        </button>
      </li>
      }

    </ul>
  </nav>

  <app-help-modal #helpModal></app-help-modal>
</aside>
