.sidebar {
  width: 100%;

  nav {
    width: 95%;
    margin-top: 20px;

    ul {
      list-style: none;
      color: #cccccc67;

      li {
        padding: 14px;
        border-bottom: 2px solid #cccccc67;

        button {
          font-size: 24px;
          background-color: transparent;
          border: none;
          width: 100%;
          text-align: left;
          cursor: pointer;

          i {
            margin-right: 4px;
            font-size: 24px;
          }
        }
      }

      li:hover {
        color: #ccccccbe;
        scale: 1.05;
      }
    }
  }
}
