aside {

  ul {
    list-style: none;
    color: #cccccc67;

    li {
      padding: 8px;
      border-bottom: 1px solid #cccccc67;
      font-size: 14px;
      cursor: pointer;

      i {
        margin-right: 4px;
        font-size: 12px;
      }
    }

    li:hover {
      color: #ccccccbe;
      scale: 1.05;
    }
  }
}
